body {
  margin: 0;
  height: 0;
}
#root {
  position: relative;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}
#plain {
  position: absolute;
  top: 50px;
  left: 0;
  cursor: none;
}
.stats {
  position: absolute;
  padding: 15px 30px 15px 35px;
  opacity: 0.8;
  width: 300px;
  top: 50px;
  right: 0;
  z-index: 10000;
  color: #fff;
  background-color: #444;
}
.header {
  top: 0;
  z-index: 10000;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #444;

  &__nick {
    padding: 0 16px;
    line-height: 50px;
    margin: 0;
    color: #fff;
  }

  &__players {
    display: flex;
    margin: 0;
    padding: 1px;
    list-style: none;
  }

  &__player-lifes {
    width: 150px;
    max-width: 150px;
    min-width: 120px;
    height: 50px;
    box-sizing: content-box;
    display: flex;
  }
  &__player-life {
    width: 45px;
    height: 50px;
  }
  &__player {
    padding: 0 16px;
    color: #fff;

    .container {
      display: flex;
      align-items: center;
      font-size: 1.25em;
      height: 50px;
    }
    &--local {
      color: #444;
      background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    }
  }
}
.dialog {
  width: 400px;
  padding: 1px 50px 50px 50px;
  position: absolute;
  z-index: 100;

  background-color: #444;

  &__form {
    height: calc(100vh - 300px);
    color: #fff;
    font-size: 20px;
  }

  &__maps {
    margin-top: 80px;
    height: 400px;
    font-size: 24px;
    border: 1px solid #444;
    padding: 0;
  }
  &__map-record {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0;
    border-bottom: 1px #444 solid;
    p {
      margin: 0;
      line-height: 50px;
    }
  }
}

.ping-box {
  font-size: 20px;
  font-weight: 700;
  color: red;
  width: 100px;
  height: 18px;
  line-height: 18px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: calc(100% + 10px);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: red;
  }

  &--good {
    color: green;
    &::before {
      background-color: green;
    }
  }
  &--nice {
    color: greenyellow;
    &::before {
      background-color: greenyellow;
    }
  }
  &--medium {
    color: yellow;
    &::before {
      background-color: yellow;
    }
  }
  &--bad {
    color: orange;
    &::before {
      background-color: orange;
    }
  }
  &--critical {
    color: orangered;
    &::before {
      background-color: orangered;
    }
  }
}

.dashboard {
  width: 700px;
  margin: 100px auto 0;
  color: #fff;

  &__players {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .player {
    font-size: 24px;
    &__name {
      text-align: center;
      &--await {
        color: orangered;
      }
    }
    &__image {
      display: block;
      margin: 0 auto;
    }
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 120px;
  z-index: 10;
  background-color: rgba(31, 31, 31, 0.88);

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 31, 31, 0.6);
    z-index: 10;
  }

  &__reconnect {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__text {
    text-align: center;
    margin: 0;
    line-height: 120px;
    font-size: 64px;
    color: #E4A82E;
    &--failure {
      color: #871120;
    }
  }
}
